* {
  box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}

.page-2{
  background-color: lightblue;
  z-index: 1000;
}

.el{
  width: 100%;  
  left: 0;
}

.el-logo{
  left: 40vw;
  top: 10vh;
}

.el-1{
  top: 0;
}

.el-2{
  top:70vh;
}
.el-3{
  top:65vh;
}

.el-4{
  top:65vh;
}

.el-5{
  top: 30vh;
}

.el-6{
  top: 63vh;
}

.el-7{
  top: 110vh;
}

.el-8{
  top:42vh;
}